body {
  background-color: #f9fbfd;
  color: black;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    /* Gave two autos to create two separate columns */
    row-gap: 1rem;
    column-gap: 3rem;
    /* Gaps for spacing/neatness */
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    text-align: center;
}

label {
    font-weight: bold;
}

.character-amount-container {
    display: flex;
    align-items: center;
}

.number-input {
    width: 2rem;
}

.password-display {
    color: black;
    background-color: white;
    padding: 1rem;
    border: 1px solid grey;
    height: 4rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    /* Ensures that longer passwords break to the next line down */
    border-radius: .5rem;
}

.btn {
    grid-column: span 2;
    border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
    background-color: pink;
    /* added hover effects */
}